.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right bottom, #6b79d1, #0097e8, #00b1e8, #00c6d4, #00d7b6, #59db9d, #88dd84, #b2dd6e, #c8d462, #dbcb5b, #edc15a, #fbb75f);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*  -------------------------------------------- */

.Heading {
  height: 70px;
  text-shadow: 2px 2px #818181;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ButtonContainer {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ButtonContainer button {
  width: 27%;
  padding: 20px 0;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
}

.ButtonContainer button:hover {
  background-color: lightblue;
}

.ContentShow {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Component {
  border: 2px solid black;
  height: 200px;
  padding: 10px;
  background-color: #FFFCDC;
  border-radius: 20px;
}